/* Estilo para la barra de búsqueda */
.search-container {
    margin-bottom: 15px;
    text-align: right;
  }
  
  .table-filter-input {
    width: 200px;
    padding: 10px;
    margin: 0;
    border: 2px solid #ff0000;
    border-radius: 20px;
    font-size: 16px;
    background-color: #f1f8ff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .table-filter-input:focus {
    border-color: #0056b3;
    background-color: #e9f1ff;
    outline: none;
  }
  
  /* Estilo para el menú desplegable */
  .dropdown {
    position: relative;
    display: inline-block;
    margin-left: 20px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: black;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  #myTable {
    width: 100%;
    border-collapse: collapse;
  }
  
  #myTable th, #myTable td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  #myTable tr:hover {
    background-color: #f9f9f9;
  }
  